@using EPAM._8_1_2.PL.WebUI.Helpers;
@{

    Layout = "~/Layouts/_BasicLayout.cshtml";
    PageData["Title"] = $"Создание нового пользователя";
}


<form method="post" action="~/Helpers/Common/Create.cshtml" enctype="multipart/form-data">
    <div>
        <label>Login</label>
        <input name="login" type="text" placeholder="Enter login">
    </div>
    <p />
    <div>
        <label>Password</label>
        <input name="pass" type="password" placeholder="Password">
    </div>
    <p /><p />
    <div>
        Выберите группу пользователей (для теста):
        <select name="role">
            <option value="admin">
                Администратор
            </option>
            <option value="users">
                Обычный пользователь
            </option>
        </select>
    </div>
    <div>
        Ваше имя:
        <input type="text" name="name" />
    </div>

    <div>
        Дата рождения:
        <input type="date" name="dateOfBirthday" />
    </div>
    <div>
        <fieldset>
            <legend> Загрузка фото личного профиля: </legend>
            <label for="Image">Фото:</label>
            <input type="file" name="Image" />
            <br />
        </fieldset>
    </div>
    <div>
        <input type="hidden" name="whoSend" value="@UserOrAward.User" />
        <input type="submit" value="Создать" />
    </div>
</form>

    

