<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@PageData["Title"]</title>
</head>
<body>
    <header>
        <div>
            <a href="~/Pages/Home.cshtml">Домашняя страница</a>
            <a href="~/Pages/Users/Users.cshtml">Пользователи</a>
            <a href="~/Pages/Awards/Awards.cshtml">Награды</a>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
