*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    height: 1px;
    background: white;
    border: none;
}
h2{
    color:white;
    font-weight: 100;
}
p{
    color:white;
}
.form-registration{
    background-color: #42aaff;
    display: inline-block;
    border: solid 3px #3574e8;
    width: 500px;
}
.container {
    margin: 25px 0px 15px 20px;
}
input{
    font-size: 16px;
    border: 1px solid gray;
    outline: none;
}
.input-email{
    width: 400px;
}
.input-pass{
    width: 150px;
}
.body{
    width: 400px;
}
.password-container{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.button-send{
    padding: 5px 10px;
    background-color: rgb(241, 211, 75);
    border: none;
}



